* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container_main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "h1 h1"
    "caja_form datos_utn";
  grid-template-rows: 10%;
}

.container_main h1 {
  grid-area: h1;
  text-align: center;
  padding-top: 20px;
  color: white;
}
.caja_formulario {
  grid-area: caja_form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.caja_formulario fieldset {
  height: 90%;
  width: 90%;
  background-color: rgba(128, 128, 128, 0.848);
  border-radius: 40px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  padding: 20px;
  border: 1px solid rgba(0, 128, 0, 0.862);
  box-shadow: 0px 0px 8px 1px green;
}

.caja_formulario form {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  gap: 24px;
}

.form_control {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.form_control input {
  padding: 12px;
  font-size: 20px;
  background-color: lightgray;
  border-radius: 12px;
}

.form_control_textarea {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 32px;
}

.form_control_textarea textarea {
  min-height: 250px;
  max-height: 250px;
  min-width: 450px;
  max-width: 450px;
  width: 80%;
  padding: 12px;
  font-size: 20px;
  background-color: lightgray;
  border-radius: 12px;
  border: 1px solid;
  box-shadow: 0px 0px 0px 1px;
}

.caja_formulario input {
  width: 80%;
  height: 100%;
}

.botones_form {
  width: 80%;
  display: flex;
  justify-content: end;
  gap: 12px;
  padding: 12px;
}

.botones_form input {
  height: 40px;
  width: 100px;
}

.btn1 {
  background-color: transparent;
  color: green;
  border: 1px solid green;
  transition: 0.25s;
}

.btn1:hover {
  box-shadow: 1px 1px 10px 1px green;
  font-weight: bold;
  transition: 0.25s;
}

/*Datos UTN*/

.datos_utn {
  grid-area: datos_utn;
  width: 90%;
  height: 700px;
}

.datos_utn_lorem {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
  padding: 16px;
  color: lightgray;
}

.datos_utn_lorem a {
  color: rgba(0, 128, 0, 0.896);
}

.datos_utn_box {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgrey;
}

.box {
  width: 100%;
  height: 90%;
  border-radius: 12px;
  border: solid 1px green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  box-shadow: 5px -5px 30px 2px green;
}

.box img {
  width: 290px;
  height: 190px;
}

/* COMIENZO DEL SITIO RESPONSIVE */

@media all and (max-width: 599px) {
  .container_main {
    grid-template-columns: 100%;
    grid-template-areas:
      "h1"
      "caja_form"
      "datos_utn";
    grid-template-rows: 90px 550px auto;
  }

  .container_main h1 {
    font-size: 25px;
  }
  
  .caja_formulario {
    width: 100%;
    height: auto;
  }

  .form_control {
    flex-direction: column;
  }

  .form_control_textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .form_control_textarea textarea {
    min-height: 150px;
    max-height: 150px;
    min-width: 80%;
    max-width: 80%;
  }

  .datos_utn {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .datos_utn_lorem {
    height: auto;
    text-align: center;
  }
  
  .datos_utn_box {
    width: 90%;
    height: 350px;
  }

  .box div h1 {
    text-align: start;
    padding-bottom: 8px;
    font-size: 20px;
  }

  .box img{
    width: 120px;
    height: 130px;
  }

  
}
