* {
  font-family: sans-serif;
}

.container_main {
  display: grid;
  grid-template-areas:
    ". . titulo titulo titulo"
    "selector selector grafico grafico grafico"
    "scroll scroll scroll scroll scroll";
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 10% auto auto auto;
  padding: 12px;
  gap: 16px;
}

.container_titulo {
  grid-area: titulo;
  display: flex;
  align-items: center;
  height: 100px;
}
.container_titulo h1 {
  padding-left: 12px;
  color: white;
}

.container_selector {
  grid-area: selector;
  color: lightgray;
}

.container_selector select{
  background-color: lightgray;
}

.container_grafico {
  border: 1px solid rgba(255, 76, 106, 0.76);
  box-shadow: 1px 1px 12px 1px rgb(255, 69, 100);
  border-radius: 20px;
  grid-area: grafico;
  background-image: url(/Img/graficoNegro.png);
  background-repeat: no-repeats;
  background-size: cover;
}
/* Selector */

.select {
  width: 100%;
  height: 150px;
  border-radius: 12px;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  gap: 16px;
  box-shadow: 1px 1px 8px 1px green;
}

.select div {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.select select {
  height: 40px;
  width: 450px;
  border-radius: 8px;
}

.select i {
  font-size: 32px;
  color: rgb(0, 237, 0);
  transition: 0.25s;
}

.select i:hover {
  font-size: 32px;
  color: rgb(0, 128, 0);
}

.container_compartirInfo {
  display: flex;
  align-items: end;
  height: 50%;
}
.container_compartirInfo a {
  color: lightgray;
  font-size: 20px;
}

.container_compartirInfo i {
  font-size: 40px;
  padding-right: 8px;
  padding-left: 32px;
  color: rgb(96, 255, 96);
}

/* Tabla scroll */
.container_table {
  width: 100%;
  grid-area: scroll;
  border-radius: 40px;
  overflow-y: scroll;
  max-height: 300px;
}

.container_table::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(40, 60, 43);
  border-radius: 16px;
}

.container_table::-webkit-scrollbar-thumb {
  background-color: rgb(121, 241, 121);
  border-radius: 16px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 40px;
  background-color: gray;
}

.table thead {
  background-color: gray;
  border-radius: 40px;
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  color: white;
  font-style: italic;
}

.table thead tr th:first-child {
  border-top-left-radius: 40px;
}
.table thead tr th:last-child {
  border-top-right-radius: 20px;
}

.table tbody {
  background-color: rgba(121, 241, 121, 0.301);
}

.table tbody tr td i.fa-solid {
  font-size: 20px;
  color: rgb(0, 255, 34);
  transition: 0.25s;
}
.table tbody tr td i:hover {
  color: rgb(0, 110, 15);
  font-size: 30px;
}
#down {
  font-size: 20px;
  color: rgb(255, 0, 0);
  transition: 0.25s;
}
#down:hover {
  color: rgb(170, 0, 0);
  font-size: 30px;
}

.table tbody tr td {
  text-align: center;
  height: 45px;
  border-left: 1px rgba(0, 0, 0, 0.232) solid;
  border-right: 1px rgba(0, 0, 0, 0.232) solid;
}
.moneda {
  background-color: rgb(121, 241, 121);
}

.table tfoot {
  background-color: gray;
  border-radius: 20px;
  width: 100%;
  height: 32px;
}

#moneda_td {
  text-align: start;
  color: white;
  font-weight: bold;
  padding-left: 8px;
}


/* COMIENZO DEL SITIO RESPONSIVE */

@media all and (max-width: 599px) {
  .container_main {
    display: grid;
    grid-template-areas:
      "titulo"
      "selector" 
      "grafico"
      "scroll";
    grid-template-columns: repeat(5,100%);
    grid-template-rows: auto 300px 350px 350px;
    padding: 12px;
    gap: 16px;
  }

  .container_titulo {
    justify-content: center;
  }

  .select div {
    width: 100%;
  }
}